.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.Link{
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.Link:hover{
    font-weight: 800;
}

.logo{
    font-size: 3rem;
}
