.HobbiesHeader{
    text-align: left;
    font-size: 2rem;
}

.HobbiesContainer{
    display: flex;
    width: 70vw;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.Hobbie{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    border-radius: 10%;
    width: fit-content;
    padding: 1rem;

}
.HobbieName{
    padding-left: 1rem;
    font-size: 1.2rem;
    margin: 0;
    padding-left: 1rem;
    width: auto;
}
